#under-line2 {
    border-bottom: 1px solid #CCD3D8;
    position: relative;
    top: 10px;
  }
  
  .fa-ban {
    color: #21355B;
    font-size: 100px; 
    margin-left:auto; 
    margin-right:auto; 
  }
  
  #NotFound-icon {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
  
  #NotFound_Text {
    text-align: center;
    color: #8092A3;
    font-weight: bold;
  }